@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400');


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    background-image: url(assets/image.jpg);
    background-size: cover;
    background-position: center;
}

.background-layer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo {
    width: 220px;
    height: 65px;
    top: 45px;
}

/* NAV */

nav {
    padding: 45px 80px 0 80px;
}

ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

li {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    padding: 0;
}

li a {
    color: #fff;
    text-decoration: none;
    width: 140px;
    height: 40px;
    line-height: 40px;
}

li:hover {
    border-bottom: 3px solid #fff;
    transition-delay: 0.2s;
}

li.last {
    border: 3px solid #fff;
    border-radius: 5px;
    margin: 0;
}

li.last a {
    display: inline-block;
    width: 140px;
}

li.last a:hover {
    background-color: #fff;
    color: #001820;
    transition-delay: 0.2s;
}


/* SECTION WITH MAIN TEXT */

.container {
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.text {
    width: 530px;
    margin: 0 auto;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
}

.text span {
    color: #fff;
    font-weight: bold;
}

/* CIRCLE & RECTANGLE */

#circle-rectangle {
    display: inline-block;
    margin-top: 150px;
  
    -ms-transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

#rectangle {
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    transform: rotate(45deg);
     display: flex;
     -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
     align-items: center;
}

#circle {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
}

#circle-rectangle:hover {
    cursor: pointer;
}

/* FOOTER */

footer {
    width: 550px;
    display: block;
    margin: 0 auto;
    margin-top: 130px;
    padding: 15px;
    background-color: #001820;
    color: #fff;
    text-align: center;
    font-size: 16px; 
}

footer h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
}


footer i {
    font-size: 26px;
}

footer span {
    padding: 0 10px;
}

/* TRIANGLE */

.triangle {
    color: #fff;
    width: 150px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
     -webkit-justify-content: center;
    justify-content: center;
}

.arrow {
    width: 130px;
    height: 130px;
    margin-top: 15px;
    
}

button {
    display: block;
    position: absolute;
    color: #001820;
    border: 0;
    cursor: pointer;
}
.more {
    margin-top: 70px;
    background-color: #fff;
}


/* GRID */


[class*="col-"] {
    float: left;
    min-width: 1px;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 768px) {
   
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media (min-width: 769px) {
    
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

/* STYLES */


@media (max-width: 768px) {
    
    body {
        background-image: url(assets/image-small3.jpg);
    }
    .background-layer {
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    /* NAV */
    nav {
        padding: 20px 0;
        text-align: center;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        
    }
    .logo {
        width: 120px;
        height: 40px;
    }
    
    #menu {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    
    #iks {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5%;
        right: 10%;
    }
    .mobile-header {
        display: flex;
        -webkit-display: flex;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        margin-bottom: 50px;
    }
    
    .mobile-media {
        margin-top: 50px;
        font-size: 26px;
    }
   
    ul {
        display: none;
        width: 100%;
        height: auto;
        background-color: #001820;
        color: #fff;
        z-index: 100;
        padding: 5% 18% 15% 18%;
        position: absolute;
        top: 0;
        font-size: 18px;
    }
    
    li {
        display: block;
        margin: 15% 0;
    }
    
    li:hover {
        display: none;
    }
    
    li.last a:hover {
        display: none;
    }
    
    
    /* SECTION WITH MAIN TEXT */
    
    .container {
        margin-top: 20px;
    }
    
    .text {
        width: 60%;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        line-height: 24px;
    }
    
    /* CIRCLE & RECTANGLE */
    
    #circle-rectangle {
        margin-top: 40px;
    }
    
    #circle, #rectangle {
        border: 2px solid #fff;    
    }
    
    #rectangle {
        width: 50px;
        height: 50px;
    }
    
    #circle {
        width: 35px;
        height: 35px;
    }
    
    /* FOOTER */ 
    
    footer {
        width: 70%;
        background-color: transparent;
        margin-top: 40px;
        padding: 0;
        font-size: 14px;
        line-height: 45px;
    }
    
    footer h2 {
        font-size: 11px;
        line-height: 16px;
    }
    
    footer i {
        font-size: 16px;
    }
    
    /* TRIANGLE */
    
    .triangle {
        width: 80px;
        height: 80px;
    }
    
    .arrow {
        width: 80px;
        height: 80px;
        margin-top:30px;
    }
    
    .more {
        display: none;
    }
    
    .plus {
        background-color: transparent;
        margin-top: 60px;
    }
}


@media (min-width: 769px) {
    
    #menu, .mobile-header, .mobile-media, .plus {
        display: none;
    }
}
